<!doctype html>
<html>

<head>
    <base href="file:///C:/laragon/www/Saldoso/teste_6/views/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>Untitled Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body is="dmx-app" id="">
    <div class="container wappler-block pt-5 pb-5">
        <div class="row">
            <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h4>O Novo Conceito em Hello World<br><span style="font-size: 13.3333px;">Você nunca viu nada igual!!!</span></h4>
                <p>Vai aqui mesmo</p>
                <img class="wappler-type-picture w-100" height="150" src="picture.jpg">
            </div>
        </div>
    </div>
    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>