<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="teste1" appConnect="local" -->
<main>
    <div class="row">
        <div class="col">
            <img src="/assets/images/98100-payment-cards.gif" loading="lazy" class="img-fluid img-thumbnail">
        </div>
    </div>
</main>
<meta name="ac:route" content="/teste1">