<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="teste1" appConnect="local" -->
<main>
    <div class="row">
        <div class="col">
            <img dmx-bind:src="'https://quatrorodas.abril.com.br/wp-content/uploads/2020/07/nOVA-HILUX-2-e1594744251401.jpg?quality=70&amp;strip=info'">
        </div>
    </div>
</main>
<meta name="ac:route" content="/teste1">