<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="teste_6" appConnect="local" -->
<meta name="ac:route" content="/teste_6">
<h1 class="text-center" style="color: blueviolet;">Hello Word!!!</h1>

<h2 class="text-center">Bom demais!!!!</h2>